/* Button */
$aqua-color: #3EC9C1;
$aqua-color-dark: #34bcb4;
$gray-color: #2A3842;
$gray-color-dark: #11191F;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


body {
	font-family: ProximaNovaLight;
}

input, button, select{
	outline: none;
	border-radius: 0px;
}



select {
	border: 1px solid #E1E1E1;
  background-color: #fff;
  height: 32px;
  color: #777;
  &.max-width {
   width: 230px;
  }
  &.min-width {
   width: 190px;
  }
}

a:hover {
	text-decoration: none;
}

.center {
	text-align: center;
}

.box {
	border: 1px solid #E9ECEB;
	padding: 5px;
}

.container {
   max-width: 970px;
}

.no-padding {
	padding: 0 !important;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.default-btn {
	background-color: $aqua-color;
	@include border-radius(2px);
	color: white;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0px 20px;
	height: 32px;
	font-family: "bentonsansbold";
}
.modal-content {
	border-radius: 3px;
}

.aqua {
	background-color: $aqua-color;
	border: 1px solid $aqua-color;
	&:hover {
		background-color: $aqua-color-dark;
	}
}

.gray {
	background-color: $gray-color;
	border: 1px solid $gray-color;
	&:hover {
		background-color: $gray-color-dark;
		border: 1px solid $gray-color-dark;
	};
}

.big-btn {
	height: 47px;
  font-size: 15px;
  padding: 10px 30px;
  font-weight: bold;
  @include border-radius(30px);
  width: 180px;
}

.logo-mobile img{
	width: 100px;
}

.fixed-header-size {
	width: 775px;
}

.padding-0 {
	padding: 0 !important;
}

.recommend-group {
	font-size: 11px;
  color: #676767;
  span {
	  color: #16A18E;
	  background: url(https://d4u5qzkfpc9yt.cloudfront.net/new/img/recommendIcon.3ad49485d07468d647809b344b06b7b1f2dfcb12.png) no-repeat scroll left top transparent;
	  background-size: contain;
	  height: 11px;
	  width: 12px;
	  display: inline-block;
	}

	.link {
	  font-size: 12px;
	  line-height: 14px;
	  height: 14px;
	  color: #1EA697;
	}
}

.carol-img {
	max-width: 183px !important;
  max-height: 183px !important;
  img {
  	width: 100%;
  	height: 100%;
  }
}

.left-button {
	width: 27px;
  height: 45px;
  position: absolute;
  z-index: 118;
  top: 47%;
  left: 10px;
	i {
		background-image: url("../images/arrow.png");
	  background-repeat: no-repeat;
	  background-size: auto;
	  background-position: 0 -115px;
	  height: 45px;
	  width: 27px;
	  display: block;
	  opacity: 0.1;
	}
}

.right-button {
	width: 27px;
  height: 45px;
  position: absolute;
  z-index: 118;
  display: block;
  top: 47%;
  right: 10px;
	i {
		background-image: url("../images/arrow.png");
	  background-repeat: no-repeat;
	  background-size: auto;
	  background-position: 0 -161px;
	  height: 45px;
	  width: 27px;
	  display: block;
	  opacity: 0.1;
	}
}

