$aqua-color: #3EC9C1;
.width70 {
 width: 70%;
 margin-right: 15px;
}

.margin20 {
 margin-left: 20px;
}

#breadcrumbs {
	width: 100%;
	border-top: 1px solid #676767;
	margin-bottom: 30px;
	span.wrap-bread {
		border-top: 2px solid #676767;
		padding-top: 5px;
		line-height: 30px;

		a {
			color : #676767;
		}
	}
}

.stylis-page {
	.col-md-3 {
		padding-right: 0;
		.avatar {
			img {
				width: 100%;
			}
		}

		.contact {
		 margin-top: 15px;
		 	a {
				border: 1px solid #e9f3f7;
				padding: 5px;
				padding-left: 25px;
				margin-top: 10px;
				border-radius: 3px;
				color : #6bacc2;
				font-size: 13px;
				margin-right: 10px;
				position: relative;
				&:before {
					content: 'E';
    			font-family: styleseatregular;
    			position: absolute;
				  left: 7px;
				  top: 4px;
				};

				&:last-child:before {
					content: 'I';
				  font-family: styleseatregular;
				  font-size: 12px;
				}
				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}

		.contact-info {
			background-color: #e9f3f7;
			font-size: 12px;
			padding: 8px 10px;
		}
	}

	.user-info {
		padding-bottom: 70px;
	  h1 {margin-top: 0;}
	  .stylis {
		 font-family: 'ProximaNovaRegular';
		 margin: 5px 0 10px 0;
		}
		.info-stat {
			.recommend {
				a {
				  text-transform: capitalize;
				  font-family: "bentonsansregular";
				  width: 100%;
				  border-radius: 3px;
				  height: 23px;
				  padding: 3px 7px 2px;
				  &:before {
				  	content: 's ';
					  font-family: styleseatregular;
					  font-size: 12px;
				  }

				  &:last-child:before {
						content: 'I';
					  font-family: styleseatregular;
					  font-size: 12px;
					}
				}

				.recommend-stat {
				  background: url("../images/icon.png") no-repeat -230px -38px;
				  width: 33px;
				  height: 23px;
				  padding: 5px 15px 5px 10px;
				  line-height: 24px;
				  font-size: 0.9em;
				}
			}
			.heart {
			 	font-size: 0.8em;
			 	padding: 0;

			 	.heart-icon {
					background: url("../images/icon.png") no-repeat scroll 1px -99px transparent;
				  padding-right: 1.8em;
					line-height: 10px;
				}
			}

			.medal {
			  color: #a1c9d6;
			  text-transform: uppercase;
			  font-size: 13px;
			  margin-top: 10px;
			  margin-left: 10px;
			  &:before {
				  content: 'Q ';
				  font-family: styleseatregular;
				};
			}
		}
		.special {
		 font-size: 0.7em;
		 margin: 0 0 10px;
		}
	}

	.book-me {
		border-radius: 5px;
		width: 100%;
	}
}

/* GALARY */

.gallery-separator {
	border-top: 0.1em dashed #676767;
}

.gallery {
	height: 200px;
	margin: 20px 0;

	.slick-list {
		padding-left: 10px;
	}

	.slick-prev:before, .slick-next:before {
	 color: #3EC9C1;
	}
}

/*END GALARY */

.wrap-content-stylis {
 padding: 0;
 font-family: 'ProximaNovaRegular', Arial, sans-serif;

 	.head-title {
	 border-top: 1px solid #676767;
	 position: relative;
	 margin-bottom: 70px;
	 	.head-text {
			background-color: #676767;
	    color: white;
	    padding: 5px 10px 5px;
	    font-size: 22px;
	    position: absolute;
		}
		&__btn {
			position: absolute;
	    right: 0;
	    border-bottom: 1px solid;
	    top: 20px;
			&--icon {
				color: #16A18E;
		    background: url(https://d4u5qzkfpc9yt.cloudfront.net/new/img/recommendIcon.3ad49485d07468d647809b344b06b7b1f2dfcb12.png) no-repeat scroll left top transparent;
		    background-size: contain;
		    height: 11px;
		    width: 12px;
		    display: inline-block;
			}
			&--link {
				font-size: 13px;
		    line-height: 14px;
		    height: 14px;
		    color: #1EA697;
		    &:focus {
		    	outline: none;
		    	text-decoration: none;
		    }
			}
		}
	}

	.book-content {
	 	padding: 0 10px;
	 	margin-bottom: 20px;
	 	.important-notices {
	 		.book-text {
			 text-transform: uppercase;
			 color: #999;
			 margin-bottom: 5px;
			}
			.important-content {
			  margin-left: 0px;
			  border-top : 1px solid #e5e5e5;
			  padding-top: 10px;
			  margin-bottom: 10px;
			  .col-md-6 {
				  padding: 0;
				}

				.content-detail {
				  font-size: 0.9em;
				  font-style: italic;
				  color: #797979;
				}

				.content-detail-btn {
					font-family: ProximaNovaLight;
					font-size: 14px;
					border-radius: 3px;
					padding: 5px;
					&:hover {
						color: white;
						background-color: #51b8ad;
						text-decoration: none;
					}
				}

				.price, .time {
				 text-align: center;
				}
			}
		}
	}

	.wrap-recommend {
		margin-right: 10px;
		margin-top: 5px;
		border-top: 1px dashed #e3d3d3;
		width: 97%;
		float: right;
		padding-bottom: 15px;
		padding-top: 5px;

		.recommend-info {
		  float:left;
		  width: 10%;
		  color: #1fb8a8;
		  cursor: pointer;
		}

		.recommend-content {
		 font-style: italic;
		 color: #797979;
		}
	}

	.wrap-recommend:first-child {
	 border-top: none;
	 margin-top: -20px;
	}

	.more-recommend {
	 float:right;
	 margin-right: 10px;
	 margin-bottom: 10px;
	 color: #1fb8a8;
	}
}



.left-side {
 	float: right;
  width: 28%;
  background-color: #f5f5f5;
  .head-title {
	 	margin-bottom: 50px;
	 	.head-text {
		 font-size: 15px !important;
		}
	}
	.address-contact {
		ul {
			list-style: none;
			padding: 4px 0 0 20px;
		}
	}
	.usr-contact {
	 color: #3EC9C1;
	 font-weight: bold;
	 margin-bottom: 30px;
	 cursor: pointer;
	}
	.bus-hour {
	 margin-bottom: 20px;
	 &--left {
	 		float:left;
	 		margin-right: 15px;
	 }
	}
}

.modal_wrap {
	padding: 10px 20px;
	&__btn {
		margin: 10px 10px 10px 0;
		&:hover {
			color : white;
			background-color: #51b8ad;
		}
	}
	&__textarea {
		width: 100%;
	}
	&__avatar {
		margin-bottom: 15px;
		img {
			width: 150px;
			height: 150px;
		}
	}
	&__large-image {
		position: relative;
		width: 800px;
    float: left;
    height: 800px;
    background-color: black;
    display: table;
    text-align: center;
	  &--helper {
	  	height: 100%;
	    display: table-cell;
	    vertical-align: middle;
	    img {
		  	max-width: 800px;
		  	max-height: 800px;
		  }
	  }
	  &:hover {
	  	.nav-btn {
	  		opacity: 1 !important;
	  	}
	  }
	}
	&--recommend {
		text-align: center;
		textarea {
			width: 70%;
		}
	}
	&__right-panel {
		padding: 20px;
    float: right;
    width: 300px;
    &--avatar {
    	width: 80px;
	    height: 80px;
	    float: left;
	    img {
	    	width: 100%;
	    	height: 100%;
	    }
    }
    &__info {
    	padding-left: 90px;
    	&__name {
    		font-weight: bold;
    		color: $aqua-color;
    	}
    	&__date {
    		font-size: 0.8em;
    		color: #989898;
    	}
    }
    &__description {
    	clear: both;
    	padding-top: 10px;
    }
	}
}

.modal_wrap_open_image {
	padding: 5px 10px 0;
	img {
		max-width: 80%;
    max-height: 540px;
    width: 80%;
    height: 470px;
    margin: 34px 0 0 34p;
		display: block;
    margin-left: auto;
    margin-right: auto;
	}
}

.image-preview {
	width: 1100px;
  height: 800px;
  position: relative;
  .close {
  	position: absolute;
    right: 10px;
    top: 3px;
  }
}

.modal-dialog {
  width: 1100px !important;
}






















