<div class="modal_wrap">
	<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
	<p>Message</p>
	<textarea cols="40" rows="10" class="modal_wrap__textarea"> </textarea>
	<button class="btn default-btn modal_wrap__btn">SEND MESSAGE</button>
	<a href="" ng-click="close()"> cancel </a>

</div>