<div class="modal_wrap">
	<button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
	
	<h3> Sign up or <span class="modal_wrap--highlight">log in</span> and Request an Appointment</h3>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
		    <label for="exampleInputEmail1">First Name</label>
		    <input type="text" class="form-control" placeholder="First Name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Email</label>
		    <input type="email" class="form-control" placeholder="Email">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Password</label>
		    <input type="password" class="form-control" placeholder="Password">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputFile">Phone Type</label>
		    <select>
		    	<option>Cell</option>
		    	<option>Home</option>
		    	<option>Work</option>
		    </select>
		  </div>
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Send me a text message reminder
		    </label>
		  </div>
		</div> <!-- end col 6 -->

		<div class="col-sm-6">
			<div class="form-group">
		    <label for="exampleInputEmail1">Last Name</label>
		    <input type="text" class="form-control" placeholder="Last Name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Phone Number</label>
		    <input type="text" class="form-control" placeholder="Phone Number">
		  </div>	
		</div> <!-- end col 6 -->
	</div>
	<p class="help-block">Requested Service: PLEASE READ ALL DISCRIPTION BEFORE BOOKING... THANK YOU</p>
  <div class="form-group">
    <label for="exampleInputFile">Note for professional:</label>
    <textarea class="modal_wrap__textarea"/>
  </div>
	<button class="btn default-btn modal_wrap__btn">REQUEST</button>
	<a href="" ng-click="close()"> cancel </a>

</div>