<div id="breadcrumbs">
  <span class="wrap-bread">
    <span itemprop="title">Browser Photo</span>
  </span>
</div>

<div class="browser-wrap">
	<div class="browser-wrap__header">
		<h3>Heart styles you like and we'll start to build your style profile</h3>
	</div>
	<div class="browser-wrap__list-photo">
		<div class="brower-wrap__list-photo__wrap">
			<div class="photo-card" ng-repeat="stylis in listImages">
				<a class="photo-card__top" ng-click="openImage($index)">
					<div class="photo-card__image">
						<img ng-src="{{stylis.image}}">
					</div>
				</a>
				<div class="photo-card__bottom">
					<a href="" class="photo-card__name">
						{{stylis.name}}
					</a>
					<div class="photo-card__location">{{ stylis.studio | uppercase }} in {{ stylis.location }}</div>
				</div>
			</div>
		</div>
		<div class="browser-wrap__footer">
			<a href="#">next »</a>
		</div>
	</div>
</div>