<div id="breadcrumbs">
  <span class="wrap-bread">
    <span>
      <a>
        <span itemprop="title">Search</span>
      </a>
    </span>
  </span>
</div>

<div class="search">
  <div class="search-image">
    <img src="images/search-background.jpg">
  </div>
  <div class="search-text">
    Book an Appointment in Hanoi, 44
    <p>Find and book top hair stylists and beauty professionals. Whether it's eyebrow waxing or hair extensions that you are looking for, you can find it on StyleSeat.</p>
  </div>
  <div class="search-form search-form-background">
    <form name="search">
      <input class="input-search max-width" placeholder="Service, professional, or salon" ng-model="service">
      <input class="input-search max-width" placeholder="City, state, or zip" ng-model="city">
      <input type="text" placeholder="Any date" class="input-search min-width" uib-datepicker-popup ng-model="date" is-open="isOpen" show-button-bar="false" datepicker-options="dateOptions" ng-required="true" ng-click="isOpen = true" show-weeks="false"/>
      <select class="input-search min-width" ng-modal="time">
        <option val="">Any time</option>
        <option val="Morning">Morning</option>
        <option val="Afternoon">Afternoon</option>
        <option val="Evening">Evening</option>
      </select>
      <input type="submit" class="default-btn aqua" value="Search" ng-click="search()">
    </form>

    <div class="popular search-popular">
      <label>Popular</label>
      <ul class="list-inline pull-left">
        <li><a href="#">Hair Cut</a></li>
        <li><a href="#">Style</a></li>
        <li><a href="#">Barber</a></li>
        <li><a href="#">Braids</a></li>
        <li><a href="#">Weaves & Extensions</a></li>
        <li><a href="#">Nails</a></li>
        <li><a href="#">Make up</a></li>
        <li><a href="#">Color</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="search-filter">
  <div class="row search-filter-card">
    <div class="col-md-2 col-sm-2 col-xs-2">
      <label>PRICE:</label>
      <select class="input-search">
        <option val="">Any</option>
        <option val="$">$</option>
        <option val="$$">$$</option>
        <option val="$$$">$$$</option>
      </select>
    </div>
    <div class="booking col-md-3 col-sm-3 col-xs-3 group-input">
      <div class="group-input__cell"> 
        <input name="Online Booking" type="checkbox">
      </div>
      <div class="group-input__cell"> 
        <label>Online Booking</label>
        <img src="images/online -booking.png">
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 group-input">
      <div class="group-input__cell"> 
        <input name="Accepts ExpressPay" type="checkbox">
      </div>
      <div class="group-input__cell"> 
        <label class="expresspay">Accepts ExpressPay</label>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      <label>BRANDS:</label>
      <select name="selected-brand" class="search-dropdown-selector">
        <option value="">Select one</option>
        <option value="Essie">Essie</option>
        <option value="Kérastase">Kérastase</option>
        <option value="L'Oréal Professionnel">L'Oréal Professionnel</option>
        <option value="Matrix">Matrix</option>
        <option value="Mizani">Mizani</option>
        <option value="Pureology">Pureology</option>
        <option value="Redken">Redken</option>
        <option value="Shu Uemura">Shu Uemura</option>
      </select>
    </div>
  </div>
</div>

<div class="row search-page" scroll-map>
  <div class="col-md-8 col-sm-8 col-xs-8" id="results">
    <div class="list-stores" ng-repeat="store in stores">
      <div class="row" ng-mouseover="mouseOver(store)" ng-mouseout="mouseOut(store)">
        <div class="col-md-2 avatar col-sm-2 col-xs-2">
          <a href="#"><img ng-src="{{store.avatar}}" width="100" height="100"></a>
        </div>
        <div class="col-md-5 stores-info col-sm-5 col-xs-5">
          <div class="name">
            <h5>{{store.name}}</h5>
            <span>{{store.place}} |</span>
            <span>{{store.business}}</span>
          </div>
          <div class="sign">
            <p>{{store.studio}}<br>{{store.location}}</p>
            <div class="view-map">
              <a href>VIEW MAP</a>
            </div>
          </div>
        </div>
        <div class="col-md-1 cost col-sm-1 col-xs-1">
          <p class="text-right">$$</p>
        </div>
        <div class="col-md-3 recommendation col-sm-3 col-xs-3">
          <span class="icon"></span>
          <a class="link" href="#">{{store.recommend}} Recommendations</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 no-padding-left col-sm-4 col-xs-4 map" id="map">
    <div class="map__maker" ng-show="selectedMarker">
      <div class="map__maker__avatar">
        <img ng-src="{{selectedMarker.avatar}}"/>
      </div>
      <div class="map__maker__content">
        <div class="map__maker__name">{{selectedMarker.name}}</div>
        <div class="map__maker__location">{{selectedMarker.place}} | {{selectedMarker.location}}</div>
        <div class="map__maker__recommend">
          <span class="icon"></span>
          <a class="link" href="#">{{selectedMarker.recommend}} Recommendations</a>
        </div>
      </div>
    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' bounds="map.bounds">
      <ui-gmap-markers coords="'self'" ng-if="stores.length" models="stores" icon="'icon'" events="events" control="map.control">
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
</div>